.media-frame-content {

    position: absolute;
    top: 84px;
    left: 200px;
    right: 0;
    bottom: 61px;
    height: auto;
    width: auto;
    margin: 0;
    overflow: auto;
    background: #fff;
    border-top: 1px solid #ddd;

}

.media-modal * {
    box-sizing: content-box;
}
.media-router > a:last-child {

    border-right: 0;

}
.media-router .active {
    color: #32373c;
}

.media-router > a.active,  .media-router > a.active:hover{
    margin: -1px -1px 0 -1px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;

}
.media-router  a {
    float: left;
    padding: 8px 10px 9px;
    margin: 0;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
}

.media-frame a {
    border-bottom: none;
    color: #0073aa;
}
.media-frame-router{
    position: absolute;
    top:50px;
    left: 0;
    right:0;
    height: 36px;
    z-index: 200;
}
.media-router {
    padding:0 6px;
    margin: 0;
    clear: both;

}
.media-frame-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 200;

}
/* media title */
.media-frame-title h1 {
    padding: 0 16px;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
}


/* main content */
.media-modal-content {
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    overflow: auto;
    min-height:300px;
    box-shadow:0 5px 14px rgba(0.0,0, 0.7);
    background: #fcfcfc;
    -webkit-font-smoothing:subpixel-antialiased;


}
/* The Close Button */

.media-modal-close:hover,
.media-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.media-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background: 0 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    z-index: 1000;
    cursor: pointer;
    outline: 0;
    transition-property: color, background;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}



.media-modal {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 160000;
}

.media-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.media-frame, .media-modal {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 12px;
    -webkit-overflow-scrolling: touch;
}

.media-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 159900;
}

