{% load list_display %}

<div class="form-group" style="clear:both">
    <label for="id_{{ field.name }}">{{ field.label }}</label>
    <div class="row">
        <div class="col-lg-5">
            <input autocomplete="off" id='_search_{{ field.name }}' oninput="FuzzySearch('{{ field.name }}')" type="text" class="form-control" placeholder="Search..">

            <select id="id_{{ field.name }}_from" multiple class="form-control">
                {% get_m2m_avalaible_data field.name form_obj admin_class as avl_data %}
                {% for v in avl_data %}
                  <option value="{{ v.id }}">{{ v }}</option>
                {% endfor %}

            </select>
             <p class="btn-link" onclick="ChooseAllOptions('id_{{ field.name }}_from','id_{{ field.name }}_to','{{ field.name }}')" align="center" style="cursor:pointer;font-weight:bold;margin-top:10px">
                 Choose all <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
             </p>
             </div>
        <div class="col-lg-5">
            <select tag="selected_value" name="{{ field.name }}" id="id_{{ field.name }}_to" multiple class="form-control">
            {% get_selected_m2m_data field.name form_obj admin_class as selected_data %}
             {% for v in selected_data %}
              <option value="{{ v.id }}" selected>{{ v }}</option>
            {% endfor %}
            </select>
         <p class="btn-link" onclick="ChooseAllOptions('id_{{ field.name }}_to','id_{{ field.name }}_from','{{ field.name }}')" align="center" style="cursor:pointer;font-weight:bold;margin-top:10px">
         <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>Remove all
     </p>
        </div>
    </div>
</div>


<script>
"user strict"

let _temp_data={};

document.getElementById("id_{{ field.name }}_from").addEventListener("dblclick", function (event) {
    moveClickedOption(event,"id_{{ field.name }}_to","{{ field.name }}");
});

document.getElementById("id_{{ field.name }}_to").addEventListener("dblclick", function (event) {
    moveClickedOption(event,"id_{{ field.name }}_from","{{ field.name }}");
});

document.getElementById("id_{{ field.name }}_to").addEventListener("click", function (event) {
    event.preventDefault;

});
// for supporting IE browser
 if (!String.prototype.endsWith) {
   String.prototype.endsWith = function(suffix) {
     console.log(this)
     return this.indexOf(suffix, this.length - suffix.length) !== -1;
   };
 }
// toggle selected photo
function moveClickedOption(event, target_select_ele_id,field_name) {
     console.log(event.currentTarget);
    if(event.srcElement.type !== 'select-multiple') {
        let clone_ele = event.target;
        clone_ele.parentNode.removeChild(clone_ele);
        document.getElementById(target_select_ele_id).appendChild(clone_ele);
        if (! _temp_data.hasOwnProperty(field_name) ){
            _temp_data[field_name] = []; //set a empty array first
            let options = document.getElementById('id_' + field_name + '_from').getElementsByTagName('option');
            for(let option=0; option<options.length; option++) {
                _temp_data[field_name].push(options[option]);
            }
        }

        let ele_id_needs_to_be_deleted = null;

        if(target_select_ele_id.endsWith('_from')) { //move ele from right to left
            _temp_data[field_name].push(clone_ele);
        }else { //move ele from left to right
            let field_value = _temp_data[field_name];
            for(let index=0; index < field_value.length; index++){
                if(field_value.value === clone_ele.value) {
                    ele_id_needs_to_be_deleted = index;
                }
            }
        }
        if (ele_id_needs_to_be_deleted !== null){
            _temp_data[field_name].splice(ele_id_needs_to_be_deleted, 1);
        }
        $("#id_{{ field.name }}_to option").prop("selected",true); //set the right items to be select by JQuery.
    }
}

function FuzzySearch(field_name) {
    let search_ele = document.getElementById('_search_'+field_name);

    let matched_options = [];
    if(! _temp_data.hasOwnProperty(field_name)) {
        _temp_data[field_name] = [];
        let options = document.getElementById('id_'+ field_name + '_from').getElementsByTagName('option');
        for(let i=0; i<options.length; i++){
            _temp_data[field_name].push(options[i]);
        }
    }

    let search_text = search_ele.value;
    for (let x=0; x<_temp_data[field_name].length; x++) {
        if(_temp_data[field_name][x].text.indexOf(search_text) !== -1){
            matched_options.push(_temp_data[field_name][x]);
        }
    }

    let select = document.getElementById('id_' + field_name + '_from');
    select.innerHTML = '';
    for(let h=0; h < matched_options.length; h++) {
        select.appendChild(matched_options[h]);
    }

}
 function ChooseAllOptions(from_id, target_id, field_name) {
    FuzzySearch(field_name); // search again, if right item has been moved to the left, include it in the search result
    let select_options = Array.prototype.slice.call(document.getElementById(from_id).getElementsByTagName('option'));

    if(from_id.endsWith('from')) {
        _temp_data[field_name] = [];
    } else {
        for(let i=0; i<select_options.length; i++){
           _temp_data[field_name].push(select_options[i]);
        }
    }
    for (let x = 0; x < select_options.length;x++) {
        document.getElementById(target_id).appendChild(select_options[x]);
    }
 }
</script>