{% load list_display %}
{% load static %}

    <form id="fm" method="post" onsubmit="VerificationBeforeFormSubmit()" enctype="multipart/form-data" target="img-preview">{% csrf_token %}
            {{ form.errors }}
            {% if not admin_class.form_add %}
                {% for field_name in admin_class.readonly_fields %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="id_{{ field_name }}">{{ field_name|title }}</label>
                                <input class="form-control" disabled id= "id_{{ field_name }}" value="{% get_readonly_value form_obj field_name %}"/>
                             </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}

            {% for field in form_obj %}
                {% if field.name in admin_class.filter_horizontal %}
                    {% include 'superadmin/components/filter-horizontal.html' %}
                {% elif field.name in admin_class.image_fields %}
                   <div class="form-group">

                    <label> {{ field.name|title }}</label>
                    {% get_selected_m2m_image form_obj field.name as result %}
                    {% if result.0 %}
                        {% get_model_app form_obj field.name as model_app %}
                        {% include 'superadmin/components/multi-image-upload-form.html' with form_obj=form_obj field=field model_app=model_app %}
                    {% else %}
                        {% include 'superadmin/components/single-image-upload-form.html' with form_obj=form_obj field=field %}
                    {% endif %}

                    </div>
                {% else %}
                    <div class="form-group"  style="clear:left;">
                        <div class="row">
                        <div class="col-lg-4">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                        </div>
                        </div>
                     </div>
                {% endif %}
            <span style="color: red">{{ field.errors.0 }} </span>
        {% endfor %}
        <div class="form-group">

            <div class="col-sm-offset-4 col-sm-2" style="clear:left;">
              <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </form>
<script>
function VerificationBeforeFormSubmit() {
    var select = document.getElementsByTagName('select');
    for (var x = 0; x < select.length; x++) {
        if (select[x].hasAttribute('tag')) {
            var options = select[x].getElementsByTagName('option');
            for (var i = 0; x < options.length; i++) {
                options[i].setAttribute('selected', true);

            }
        }

    }
}
</script>