{% load list_display %}
{% load static %}

    <form id="fm" method="post" onsubmit="SelectOption()" enctype="multipart/form-data" target="img-preview">{% csrf_token %}
            {{ form.errors }}
            {% if not admin_class.form_add %}
                {% for field_name in admin_class.readonly_fields %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="id_{{ field_name }}">{{ field_name|title }}</label>
                                <input class="form-control" disabled id= "id_{{ field_name }}" value="{% get_readonly_value form_obj field_name %}"/>
                             </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}

            {% for field in form_obj %}
                {% if field.name in admin_class.filter_horizontal %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}">{{ field.label }}</label>

                        <div class="row">

                            <div class="col-lg-5">
                                <select id="id_{{ field.name }}_from" multiple class="form-control">
                                    {% get_m2m_avalaible_data field.name form_obj admin_class as avl_data %}
                                    {% for v in avl_data %}
                                      <option ondblclick="MoveOption(this, 'id_{{ field.name }}_to')" value="{{ v.id }}">{{ v }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-lg-5">
                                <select tag="selected_value" name="{{ field.name }}" id="id_{{ field.name }}_to" multiple class="form-control">
                                {% get_selected_m2m_data field.name form_obj as selected_data %}
                                 {% for v in selected_data %}
                                  <option ondblclick="MoveOption(this, 'id_{{ field.name }}_from')"  value="{{ v.id }}">{{ v }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                {% elif field.name in admin_class.image_fields %}
                    {% get_selected_m2m_image form_obj field.name as result %}
                    {% if result.0 %}
                        {% get_model_app form_obj field.name as model_app %}
                        {% include 'superadmin/components/multi-image-upload-form.html' with form_obj=form_obj field=field model_app=model_app %}

                    {% else %}
                        {% include 'superadmin/components/single-image-upload-form.html' with form_obj=form_obj field=field %}

                    {% endif %}

                {% else %}
                    <div class="form-group"  style="clear:left;">
                        <div class="row">
                        <div class="col-lg-4">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                        </div>
                        </div>
                     </div>
                {% endif %}
            <span style="color: red">{{ field.errors.0 }} </span>
        {% endfor %}
        <div class="form-group">

            <div class="col-sm-offset-4 col-sm-2" style="clear:left;">
              <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </form>

