{% load list_display %}


<div id="uploader" style="position: relative;display: none;">
    <div class="media-modal">
        <div id='uploader-2' class="media-frame">
            <button class="media-modal-close" type="button">
                <span class='media-modal-icon'>&times</span>
            </button>
            <!-- overflow auto position: absolute;all:0 -->
            <div class="media-modal-content">
                <!-- overflow hidden  position:absolute-->
                <div class="media-frame">
                    <div class="media-frame-title">
                        <h1>
                            Add images to product gallery
                        </h1>
                    </div>
                   <div class="media-frame-router">
                        <div class="media-router">
                            <a href="#" class="media-menu-item">Upload Files</a>
                            <a href="#" class="media-menu-item active">Media Library</a>
                        </div>
                    </div>
                    <div class="media-frame-content">

                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="media-modal-backdrop">

    </div>
</div>

