{% extends 'superadmin/base.html' %}
 {% block css %} {% endblock %}

{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <ul class="nav justify-content-right">
            <li class="nav-item">
                <a class="nav-link text-light active" href="#">Active</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light" href="#">Link</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">{{ request.user|title }}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link text-light" href="/signin">Signin</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">

                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        {% for role in request.user.userprofile.role.all %}
                            {% for menu in role.menu.all %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% if menu.url_type == 1 %}{{ menu.url_name }}{% else %}{% url menu.url_name %}{% endif %}">
                                        {{ menu.icon|safe }}
                                        {{ menu.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endfor %}

                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted"
                           href="javascript:void(0)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-plus-circle">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="8" x2="12" y2="16"></line>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                            </svg>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">

                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


                    {% block content-title %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                        <h1 class="h2">Dashboard</h1>
                    </div>


                    {% endblock %}
            <div class="container">
                <div class=" justify-content-md-center">

                {% block content %}
                {% endblock %}

                </div>
            </div>

            </main>
        </div>
    </div>
{% endblock %}