{% extends 'superadmin/index.html' %}
{% load list_display %}

{% block content-title %}
    <h1 class="h2"> App</h1>



{% endblock %}
{% block content %}
    <div>
    {% if admin_class.list_filter %}
        <form>
            {% for i in admin_class.list_filter %}
                {% list_filter i admin_class %}
            {% endfor %}
                <input type="submit" value="Filter">
        </form>
    {% endif %}
    </div>
    <table class="table table-striped table-borderless border-bottom">
        <thead>
        <tr>
        {% if  admin_class.list_display %}
            {% for data in admin_class.list_display %}
                <th><a href="?_o={% sort_by_column column curr_column forloop.counter0 %} ">{% list_display data|title %} {% render_filter_icon column curr_column %}</a></th>

            {% endfor %}
        {% else %}
            {% get_model_name admin_class %}
        {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for obj in queryset %}

            <tr>
                   {% table_list obj admin_class%}
            </tr>
        {% endfor %}


        </tbody>
    </table>
    {{ page.paginator }}
{% endblock %}